@import url(http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
body{
background:#0F3B60;
color:#F6DCA4;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#create_btn:{
  color:#3300CC;
}


.displayinline > li > img{
  height:8%;
  width:8%;
}

.displayinline li{
  display:inline;
  margin:30px 20px;
}

.displayinline{
  margin-bottom: 20px;
  margin-top: 15px;
}

#container > form > div{
  margin:30px 20px;
}

.displayinline > li > span{
	width:50px;
}

.ch1{
	margin-right: 20px;
}

.jp1{
	margin-right: 7px;
}

.th1{
	margin-right: 27px;
}

.en1{
	margin-right: 3px;
}
