@import url(http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Graduate|Abel|Lato);
h2, p {
  font-family:Microsoft JhengHei;
}
.carousel {
  height: 450px;
  margin-bottom: 60px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;

}

.carousel .item {
  height: 450px;
  background-color:#FFFFFF;

}

.carousel-inner> .item > .container > .carousel-caption> h1{
	position:relative;
	top:-80px;
	right:300px;
	color:#FFFFFF;

}

.btn{
	position:relative;
	top:-10px;
	left:350px;	
}

#button1{
  position:relative;
  top: -15px;
  left: -310px;
}

#button2{
  position:relative;
  top: -15px;
  left: -310px;
}

#button3{
  position:relative;
  top: -15px;
  left: -310px;
}

.about_xlanguager > .moreinfo > h2{
  margin-right: 10px;
  margin-left: 10px;
  color:#0F3B60;

}

.about_xlanguager > .moreinfo > p{
  padding-left:45px;
  margin-right: 10px;
  margin-left: 10px;
  color:#0F3B60;
  font-family:Microsoft JhengHei;
}

.about_xlanguager > .moreinfo > img{
  width:115%;
  max-height:120%;
  
}

.about_xlanguager .col-md-4 {
  margin-bottom: 20px;
  text-align: center;
}

.glyphicon .glyphicon-globe {
  position: relative;
  float: middle;
}

#whatsnew{
  margin:20px 0px 40px 0px;
  text-align: center;
  //font-family: 'Graduate', cursive;
  font-family: 'Abel', sans-serif;
  font-size:35px;
  color:#0F3B60;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: #0F3B60;
}

.newsfeed{
  margin: 10px 35px;
  padding: 5px 5px;
  height: 300px;
}


.newsfeed > p{
	text-align: center;
	font-size:15px;
	padding-top: 15px;
  	color:#0F3B60;
}

.newsfeed > a > img{
	width:100%;
	max-height:80%;
}

.carousel{
  margin-top: 80px;
}

#preview1{
  width:50px;
  height:50px;
  border-radius: 6px;
  margin-top: 5px;
}

#easybutton{
 position:static;
}

profileBtn{
 margin-top:21px;
 font-family: 'Abel', sans-serif;
}
